<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax测试</title>
    <script src="../static/js/jQuery/jquery.min.js"></script>
</head>
<script>
    $(document).ready(function(){

        $("#btn").click(function(){
            $('#div1').load("../static/ajax/ajax.txt");
        });
        $('#btn2').click(function(){
            $('#div2').load("../static/ajax/ajax.txt #p1").children().css({"background-color":"red"});
        });
        $('#btn3').click(function(){
            var version = $().jquery;
            alert("You are running jQuery version: " + version);
        });
    });
</script>
<body id="body1">
    <div id="div1"><h2>使用 jQuery AJAX 修改文本内容</h2></div>
    <div id="div2"><h2>加载外部指定的元素</h2></div>
    <button id="btn">加载外部内容</button>
    <button id="btn2">加载指定元素</button>
    <button id="btn3">jQuery版本号</button>
</body>
</html>